*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .Jdetail table {  
          margin: auto;
        text-align: center;
        max-width: 60%;
    }
    
    .Jdetail table th{
        padding: 20px;
    }
    
    .Jdetail table td{
        width: 30%;
    }
    
    
    